@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Lato', sans-serif;
    text-align: center;

    background-image: url('./assets/background.jpeg');
    background-image: cover;
}
/*
 * *** UI ELEMENTS ***
 */
#zappar-placement-ui {
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 0px;
    border-radius: 5px;
    background: black;
    color: white;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}
/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}